/* responsive.css */
@font-face {
  font-family: "GyeonggiTitleM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR");

/* 1100px 아래로 내려갔을때 적용 */

@media (max-width: 550px) {
  .header {
    display: none;
  }

  .mheader {
    font-family: "GyeonggiTitleM";
    position: fixed;
    height: 80px;
    display: block !important;
    z-index: 999999;
    border-bottom: 1px solid #f0f0f0;
    width: 100%;
    background-color: #fff;
    text-transform: uppercase;
  }

  .mheader__logo > a {
    font-family: "GyeonggiTitleM";
  }

  .mheader__wrap {
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
  }

  .mheader__nav {
    position: fixed;
    top: 0;
    left: 0;
    margin-left: 100%;
    width: 100%;
    /* display: none;     */
  }

  .mheader__nav.open {
    margin-left: 0;
  }

  .mCancle__btn {
    position: absolute;
    top: 0;
    right: 0;
    padding: 20px;
    z-index: 9999999999;
  }

  .mheader__menu {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100vh;
    padding: 20px;
    background-color: #ffffff;
    z-index: 999999999;
    display: block;
  }
  .mheader__item-title {
    font-size: 0.8em;
    margin-top: 30px;
    padding-bottom: 10px;
    font-weight: 800;
    border-bottom: 1px solid #e8e8e8;
  }

  .mheader__item {
    font-size: 18px;
    padding: 15px 0;
    font-family: "Noto Sans KR", sans-serif;
  }

  .mheader__item a {
    display: block;
  }

  .mfooter__item {
    position: absolute;
    font-size: 12px;
    font-family: "Noto Sans KR", sans-serif;
    bottom: 30px;
    color: #8e8e8e;
  }

  .footer {
    height: 80px !important;
  }
  .footer__wrap {
    height: 80px !important;
  }

  .footer__item {
    width: 100%;
  }
  .footer__item:first-child {
    display: none;
  }

  .footer__copy {
    text-align: center;
    font-family: "GyeonggiTitleM";
  }

  .swiper-container {
    width: 100%;
    height: calc(100vh - 159px) !important;
  }

  /* vision */
  .vision__content-wrap {
    height: auto;
  }

  .subpage__title span {
    display: block;
  }

  .vision__content {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .vision__content-item span {
    width: 180px;
    height: 180px;
    line-height: 180px;
    font-size: 18px;
    margin-bottom: 15px;
  }
  .vision__content-item p {
    font-size: 16px;
    line-height: 20px;
  }

  /* history */
  .history__container {
    width: 100%;
    padding: 0 15px;
  }

  .history__text {
    grid-column: span 4;
  }

  .history__item img {
    display: none;
  }

  .history__box-date {
    font-size: 12px;
    margin-right: 15px;
  }

  .history__text-title {
    font-size: 16px;
  }

  .history__text-info {
    font-size: 13px;
    line-height: 18px;
  }

  /* a.ipen */
  .aipen-container {
    height: 300px;
  }

  .subpage__itemImg.aipenImg {
    margin-left: -125px;
    top: 220px;
  }

  .subpage__itemImg.aipenImg img {
    width: 250px;
  }

  /* beontteut */
  .subpage__name {
    padding-top: 80px;
  }

  .subpage__topImg {
    width: 100%;
    height: 300px !important;
    background-size: 100% 100%;
    background-attachment: initial !important;
  }
  .subpage__topImg::before {
    height: 300px;
  }

  .subpage__itemImg {
    display: none;
  }

  .beontteutTop {
    background-attachment: inherit;
  }

  .subpage__content {
    padding: 80px 15px 50px 15px !important;
  }
  .subpage__content-type,
  .subpage__content-title,
  .subpage__content-info,
  .subpage__content-playStore,
  .subpage__contet-explain {
    grid-column: span 2;
  }

  .subpage__content-info {
    margin: 0;
    margin-bottom: 20px;
  }

  .subpage__contet-explain {
    grid-row: 4;
  }

  /* request */
  fieldset {
    width: 300px;
    padding: 0 15px;
  }

  input {
    width: 300px;
  }

  label {
    position: relative;
    left: -125px;
    top: 32px;
  }

  textarea {
    width: 300px;
    border: 0;
    /* border: 2px solid #3c3c3c; */
  }

  #detailLabel {
    position: relative;
    left: -100px;
    top: 20px;
  }

  #submit {
    border: 0;
    padding-right: 60px;
    color: #ffffff;
    background-color: #3c3c3c;
    margin-top: 20px;
  }

  .request__content-wrap > .subpage__title {
    margin-bottom: 20px;
  }

  /* contact */
  .contact__map {
    width: 100%;
  }

  .contact__map-info {
    width: 100%;
    padding: 60px 15px 80px 15px;
  }

  .contact__map-info h2 {
    font-size: 16px;
  }

  .contact__map-info li p {
    font-size: 14px;
  }

  /* pilicy */
  .policy__content-wrap {
    padding: 0 15px;
  }
}
