@font-face {
  font-family: "GyeonggiTitleM";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_one@1.0/GyeonggiTitleM.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}

@import url("https://fonts.googleapis.com/css?family=Nanum+Gothic");
@import url("https://fonts.googleapis.com/css?family=Noto+Sans+KR");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

a:link,
a:visited {
  color: #3c3c3c;
  text-decoration: none;
}

/* header start */

.header {
  position: fixed;
  width: 100%;
  /* height: 288px; */
  background-color: #ffffff;
  font-family: "GyeonggiTitleM";
  font-weight: bold;
  z-index: 99999;
  border-bottom: 1px solid #f0f0f0;
  box-sizing: border-box;
}

.header__box {
  height: 79px;
  border-bottom: 1px solid #f0f0f0;
  box-sizing: border-box;
  /* height: 358px; */
}

.header__wrap {
  max-width: 1600px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.header__logo {
  padding: 30px 20px;
}

.header__nav {
  width: 400px;
  padding: 30px 0;
}

.header__menu {
  display: flex;

  /* display: grid; */
  /* grid-column: 134px 134px 134px; */
  /* grid-template-columns: repeat(3, minmax(min-content, 1fr)); */
}
.header__menu-item {
  width: 134px;
}

.header__menu-item a {
  font-style: 18px;
  color: #3c3c3c;
}

.header__menu-item > a {
  padding: 30px 0;
}

.header__menu-item:hover > a {
  border-bottom: 2px solid #000;
}

.header__subMenu {
  display: flex;
  flex-direction: column;
  /* display: grid; */
  height: 279px;
  /* grid-template-rows: repeat(3, 70px); */
  font-family: "Noto Sans KR", sans-serif;
  font-weight: 300;
  border-left: 1px solid #f0f0f0;
  margin-top: 30px;
  display: none;
}

.header__subMenu-item {
  height: 70px;
}

.header__subMenu-item > a {
  display: block;
  color: #8e8e8e;
  height: 70px;
  line-height: 70px;
  font-size: 14px;
}

.header__subMenu a:hover {
  font-weight: bold;
  color: #4d4d4d;
}

.subStrong {
  color: #3c3c3c !important;
  font-weight: 500;
}

.header__menu-item:nth-child(3) .header__subMenu {
  border-right: 1px solid #f0f0f0;
}

.mheader {
  display: none;
}

/* header end */

/* main start */
.content {
  padding-top: 79px;
  font-family: "Noto Sans KR", sans-serif;
}

.swiper-container {
  width: 100%;
  height: calc(100vh - 199px);
}

.swiper-slide {
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center center;
  color: #ffffff;
  font-size: 2.4em;
  line-height: 50px;
}

.swiper-slide p {
  position: relative;
  width: 1600px;
  margin: 0 auto;
  padding: 0 20px;
  font-family: "GyeonggiTitleM";
}

.mainSlide:nth-child(1) {
  background-image: url("../images/mainBanner.jpg");
}

.mainSlide:nth-of-type(2) {
  background-image: url("../images/architecture-1868667_1920.jpg");
}

.mainSlide:nth-of-type(3) {
  background-image: url("../images/road-220058.jpg");
}

/* main end */

/* footer start */
.footer {
  position: relative;
  bottom: 0;
  width: 100%;
  background-color: #373737;
  color: #8e8e8e;
  font-size: 12px;
}

.footer__wrap {
  display: flex;
  justify-content: space-between;
  max-width: 1600px;
  height: 120px;
  margin: 0 auto;
  align-items: center;
}

.footer__item {
  padding: 0 10px;
}

.footer__item a {
  color: #8e8e8e;
  font-weight: 300;
}

.footer__item p {
  line-height: 20px;
}

.footer__item--link {
  margin-bottom: 10px;
}

.footer__item--link b {
  font-weight: 800;
}

.footer__item--link a:first-child {
  padding-right: 10px;
}

/* footer end */

/* vison start */
.vision__content-wrap {
  max-width: 1000px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #3c3c3c;
  position: relative;
  height: calc(100vh - 179px);
  margin-bottom: 100px;
}

.subpage__name {
  padding-top: 120px;
  margin-bottom: 15px;
  font-size: 0.9em;
  color: #a7a7a7;
  letter-spacing: 0.1em;
  font-weight: normal;
}

.subpage__title {
  font-size: 2em;
  margin-bottom: 80px;
  font-family: "Nanum Gothic";
}

.subpage__title::after {
  content: "";
  width: 60px;
  height: 1px;
  background-color: #000000;
  display: block;
  margin: 0 auto;
  margin-top: 30px;
}

.vision__content {
  display: flex;
  justify-content: space-between;
}

.vision__content-item {
  /* padding: 25px; */
  padding-bottom: 50px;
}

.vision__content-item span {
  width: 220px;
  height: 220px;
  display: block;
  border: 1px solid #3c3c3c;
  border-radius: 50%;
  line-height: 220px;
  font-family: "GyeonggiTitleM";
  font-size: 20px;
  margin-bottom: 38px;
}

.vision__content-item p {
  font-size: 1.2em;
  line-height: 25px;
  font-weight: bold;
}

/* vison end */

/* history */
.history__content-wrap {
  max-width: 1000px;
  text-align: center;
  text-transform: uppercase;
  margin: 0 auto;
}

.history__container {
  display: grid;
  text-align: left;
  margin-bottom: 100px;
}

.history__box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
}

.history__box-date {
  grid-row: span 2;
}

.history__item {
  grid-column: span 5;
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  padding: 20px 0;
  border-top: 1px solid #e0e0e0;
}

.history__item:nth-of-type(1) {
  border-top: 2px solid #3c3c3c;
}

.history__text {
  grid-column: span 3;
}

.history__text-title {
  margin-bottom: 15px;
  font-size: 1.1em;
  font-weight: 500;
}

.history__text-info {
  font-weight: 300;
}

.history__item img {
  grid-column: 4;
  width: 100%;
}

/* history end */

/* subPage start */
.subpage__topImg {
  width: 100%;
  height: 700px;
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
  overflow: hidden;
}

.subpage__topImg::before {
  content: "";
  width: 100%;
  height: 700px;
  display: block;
  background-color: rgba(0, 0, 0, 0.5);
}

.subpage__itemImg {
  position: absolute;
  top: 200px;
  left: 50%;
  margin-left: -180px;
}

.subpage__itemImg img {
  width: 360px;
}

.itemShadow {
  box-shadow: 0 3px 10px 0 rgba(0, 0, 0, 0.1);
}

.subpage__content {
  max-width: 800px;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  padding-top: 150px;
  padding-bottom: 100px;
  flex-wrap: wrap;
}

.subpage__content-type {
  font-weight: 400;
}

.subpage__content-title {
  grid-column: 1;
  grid-row: 2;

  font-size: 2.4em;
  margin-bottom: 15px;
}

.subpage__content-info {
  grid-column: 1;
  grid-row: 3;
  margin-top: 20px;
  font-size: 0.9em;
  color: #a7a7a7;
  font-weight: 400;
}

.subpage__content-info-title {
  font-size: 0.9em;
  font-weight: bold;
  margin-bottom: 3px;
}

.subpage__content-info li {
  margin-bottom: 15px;
  color: #3c3c3c;
}

.subpage__content-playStore {
  grid-column: 1;
  margin-top: 30px;
}

.subpage__content-playStore img {
  position: relative;
  left: -10px;
  width: 180px;
}

.subpage__content-explain {
  width: 548px;
  font-size: 0.9em;
  grid-column: 2;
  grid-row: 1 / span 4;
  line-height: 24px;
  font-weight: 400;
}

/* sebPage end */

/* beontteut */
.beontteutTop {
  background-image: url("../business/images/beontteut.jpg");
  background-attachment: fixed;
}

/* beontteut end */

/* a.i pen start */
.explain__title {
  font-size: 1em;
  display: flex;
  align-items: center;
}

.explain__title img {
  padding: 17.5px;
  border: 1px solid #3c3c3c;
}

.explain__title h2 {
  margin-left: 30px;
  font-size: 1em;
}

.explain__text {
  font-size: 0.9em;
  padding-top: 20px;
  padding-bottom: 50px;
}

.aipenImg {
  margin-left: -287.5px;
  top: 320px;
}

.aipenImg img {
  width: 575px;
}

.aipen-container {
  position: absolute;
  width: 100%;
  height: 700px;
  top: 0px;
  z-index: -9;
  overflow: hidden;
}

.aipen {
  background-size: cover;
  background-position: center center;
}

.aipenBanner1 {
  background-image: url("../business/images/main_pen1.jpg");
}

.aipenBanner2 {
  background-image: url("../business/images/main_pen2.jpg");
}

.aipenBanner3 {
  background-image: url("../business/images/main_pen3.jpg");
}

/* a.i pen end */

/* outsource start */
.outsourceTop {
  background-image: url("../business/images/outsource.jpg");
  background-attachment: fixed;
}
/* outsource end */

/* contact start */
.contact__content-wrap {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #3c3c3c;
  /* height: 758px; */
  position: relative;
}

.contact__content {
  text-align: left;
}

.contact__map {
  width: 1000px;
  height: 400px;
  display: block;
  margin: 0 auto;
}

.contact__map-info {
  width: 1000px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 1fr 2fr;
  grid-template-rows: repeat(auto-fit, min-content);
  text-transform: uppercase;
  padding-top: 80px;
  padding-bottom: 100px;
}

.contact__map-info h2 {
  grid-column: 1;
  font-size: 1.8em;
}

.contact__map-info li {
  grid-column: 2;
  text-transform: lowercase;
}

.contact__map-info li h3 {
  font-size: 0.8em;
  padding-bottom: 5px;
}

.contact__map-info li p {
  font-size: 1em;
  padding-bottom: 15px;
  font-weight: 300;
}
/* contact end */

/* request start */
.request__content-wrap {
  max-width: 1600px;
  margin: 0 auto;
  text-align: center;
  text-transform: uppercase;
  color: #3c3c3c;
  /* height: 758px; */
  position: relative;
}

fieldset {
  border: 0;
  margin: 0 auto;
  width: 400px;
  margin-bottom: 100px;
}

legend {
  visibility: hidden;
}

input {
  width: 400px;
  height: 50px;
  border: 0;
  border-bottom: 2px solid #3c3c3c;
  padding-left: 60px;
}

input::placeholder {
  color: #d0d0d0;
}

label {
  position: relative;
  left: -175px;
  top: 32px;
}

#company,
#name,
#phone,
#email {
  margin-bottom: 10px;
}

#detailLabel {
  position: relative;
  left: -150px;
  top: 20px;
}

textarea {
  width: 400px;
  border: 0;
  /* border: 2px solid #3c3c3c; */
}

#detail {
  margin-top: 30px;
  padding: 5px;
  border: 2px solid #3c3c3c;
}

#submit {
  border: 0;
  padding-right: 60px;
  color: #ffffff;
  background-color: #3c3c3c;
  margin-top: 20px;
}

/* request end */

/* policy start */
.policy__content-wrap {
  max-width: 1600px;
  margin: 0 auto;
  text-align: left;
  color: #3c3c3c;
  position: relative;
  padding: 100px 0;
}

.policy__title {
  margin-bottom: 20px;
  font-size: 1.2em;
}

/* policy end */
