<footer class="footer">
  <div class="footer__wrap">
    <div class="footer__item">
      <div class="footer__item--link">
        <a href="policy/privacypolicy.html"><b>개인정보처리방침</b></a>
        <a href="contact/request.html">프로젝트 의뢰</a>
      </div>

      <p>빈즈소프트 | 대표: 이준택 | 대구시 남구 현충로170 천마스퀘어 710호</p>
      <p>대표전화: 070-4255-8907 | 이메일: beanzsoftai@gmail.com</p>
    </div>
    <div class="footer__item">
      <p class="footer__copy">ⓒBEANZSOFT</p>
    </div>
  </div>
</footer>
