<!-- <script src="/js/main.js"></script> -->
<link
  rel="stylesheet"
  type="text/css"
  media="screen"
  href="../css/styles.css"
/>
<script>
  $(document).ready(function() {
    var header = $(".header");
    var mainMenu = $(".header__menu-item");
    var subMenu = $(".header__subMenu");

    mainMenu.mouseover(function() {
      subMenu.css({ display: "block" });
      header.stop().animate({ height: "358px" }, 200);
    });

    mainMenu.mouseout(function() {
      subMenu.css({ display: "none" });
      header.stop().animate({ height: "79px" }, 200);
    });

    var mheaderBtn = $(".mheader__btn");
    var mheaderCancel = $(".mCancle__btn");
    var mheaderMenu = $(".mheader__nav");

    mheaderBtn.click(function() {
      mheaderMenu.stop().animate({ "margin-left": "0%" }, 300);
    });

    mheaderCancel.click(function() {
      mheaderMenu.stop().animate({ "margin-left": "100%" }, 300);
    });
  });
</script>
<div class="header__include">
  <header class="header">
    <div class="header__box">
      <div class="header__wrap">
        <div class="header__logo"><a href="/index.html">BEANZSOFT</a></div>
        <nav class="header__nav">
          <ul class="header__menu">
            <li class="header__menu-item">
              <a href="#">ABOUT</a>
              <ul class="header__subMenu">
                <li class="header__subMenu-item">
                  <a href="/about/vison.html">비전</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="/about/history.html">주요연혁</a>
                </li>
              </ul>
            </li>
            <li class="header__menu-item">
              <a href="#">BUSINESS</a>
              <ul class="header__subMenu">
                <li class="header__subMenu-item">
                  <a href="/business/aipen.html">A.I PEN</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="/business/beontteut.html">번뜻</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="http://221.166.180.133:51000" target="_blank">TTS</a>
                </li>
                <li class="header__subMenu-item">
                  <a href="/business/outsource.html">외주개발</a>
                </li>
              </ul>
            </li>
            <li class="header__menu-item">
              <a href="#">CONTACT</a>
              <ul class="header__subMenu">
                <li class="header__subMenu-item">
                  <a
                    class="subStrong"
                    href="/contact/request.html"
                    class="subStrong"
                    >프로젝트 의뢰하기</a
                  >
                </li>
                <li class="header__subMenu-item">
                  <a href="/contact/contact.html">오시는 길</a>
                </li>
              </ul>
            </li>
          </ul>
        </nav>
      </div>
    </div>
  </header>
  <header class="mheader">
    <div class="mheader__wrap">
      <div class="mheader__logo"><a href="/index.html">BEANZSOFT</a></div>
      <a class="mheader__btn" href="#"
        ><img src="http://png.icons8.com/menu/ios/30/3C3C3C" alt=""
      /></a>
    </div>

    <nav class="mheader__nav">
      <a href="#" class="mCancle__btn"
        ><img src="http://png.icons8.com/delete-sign/ios/30/3C3C3C" alt=""
      /></a>
      <ul class="mheader__menu">
        <li class="mheader__item-title">about</li>
        <li class="mheader__item"><a href="/about/vison.html">비전</a></li>
        <li class="mheader__item">
          <a href="/about/history.html">주요연혁</a>
        </li>
        <li class="mheader__item-title">business</li>
        <li class="mheader__item">
          <a href="/business/aipen.html">a.i pen</a>
        </li>
        <li class="mheader__item">
          <a href="/business/beontteut.html">번뜻</a>
        </li>
        <li class="mheader__item">
          <a href="http://221.166.180.133:51000" target="_blank">TTS</a>
        </li>
        <li class="mheader__item">
          <a href="/business/outsource.html">외주개발</a>
        </li>
        <li class="mheader__item-title">contact</li>
        <li class="mheader__item">
          <a href="/contact/request.html">프로젝트 의뢰</a>
        </li>
        <li class="mheader__item">
          <a href="/contact/contact.html">오시는 길</a>
        </li>
        <li class="mfooter__item">
          <a href="/policy/privacypolicy.html"></a>개인정보처리방침
        </li>
      </ul>
    </nav>
  </header>
</div>
